html, body{
	height:100%;
	width: 100%;
	overflow-x: hidden;
}

body{background-size: cover;}


ul{
	list-style: none;
	padding-left: 0.4em;

}

li{
	font-size: 1.1em;
	margin-bottom: 0.4em;
}

.header{
	margin-top: 1em;
	
}

.content{
	
}


.row{

	width:100%;

}

.recuadre{
	border: 1px solid #999;
    border-radius:20px;
    float:left;
    padding: 10px;
	width:100%;
	margin-top:10px;
	background-color: white;

}




.recuadre-head{
	
	background-position: center 15%; 
	border: 1px solid #999;
    border-radius:20px;
    float:left;
    padding: 10px;
	width:100%;
	
	background-color: white;

}

.recuadre-blog{
    padding: 2em;
    
}

.entrada{ 
    float:left;
    padding-left: 5px;
    padding-right: 5px;
	width:100%;
	
	

	
}

.web{
	float:left;

	padding: 10px;
	margin-bottom: 1em;
}

.recuadre:hover{

	border: 1px black solid;
}


a{
	color:black;

}

a:hover{
	color:black;
	font-style: bold;
}

.link{
	color:#1e88e5;
}

.link:hover{
	color:#1e88e5;
	
}

.row{
	width: 90%;
	margin-left: 5%;
	background-color: white;
	padding-bottom: 1em;
}

.menu{

}

.recuadre-menu{

	margin-top: 2em;
	border-radius:20px;
	background-color: #ddd;
	padding-top:2em;
	padding-bottom:2em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu ul{
	margin-left: 0px;
	padding-left: 0px;

}

.menu li{
	text-align: left;

	list-style: none;
	padding: 0.5em;

}

.menu-movil{

	
	margin-bottom: 1.5em;
	border-radius:20px;
	background-color: #ddd;

	margin-right: 15px;

}
	


#footer{
	padding-top:0.5em;
	width: 90%;
	margin-left: 5%;
	text-align: center;
	background-color: white;
	padding-bottom: 0.5em;
	border-top: 1px solid #999;

}


th {
	
	padding: 5px;
}

td {
	
	padding: 5px;
}

.intro{
	margin-top: 2em;
}

.img{
	padding:0px;
	margin-bottom: 1em;
}

.txt{
	padding-top:0.5em;
}

.blog{
	float:left;
	padding:0px;
	padding-right: 10px;
	padding-left:10px;
	


}

.blog-blog{
	float:left;
	padding:0px;
	padding-right: 10px;
	padding-left:10px;
	


}

.article{

	padding: 15px;
	text-align: justify;
}

.font{
	text-decoration: underline;
}

.font:hover{
	color:red;
}






.nav > li {
	width: 100%;
	margin-top:1em;
	float:left;
	margin-bottom: 0em;

}

.nav li a {
	margin-bottom: 1.5em;
	border-radius:10px;
	background-color: #ddd;

	
}

.nav li a:hover {
	background-color: #aaa
}

.nav li ul {
	display:none;
	
	min-width:140px;
}

.nav li:hover > ul {
	
	display:block;
	
}

.nav li ul li {
	border-radius:10px;
	background-color: #ccc;
	padding:0.5em;
}

.nav li ul li:hover {

	background-color: red;
	padding:0.5em;
}







.img-resp{
	max-width: 700px;
	width: 100%;

}

.img-resp-2{
	

}

.video-resp{
	max-width: 560;
	width:100%;
}

.info{
	border-top: 0.5em solid #ddd;
	border-bottom: 0.5em solid #ddd;
	padding-top: 0.5em;
	margin-top: 2em;

}

.info-2{
	
	border-bottom: 0.5em solid #ddd;
	
	margin-top: 2em;

}

.info-3{
	
	border-bottom: 0.5em solid #ddd;
	
	margin-top: 1em;

}

blockquote{
	border-color: #ddd;
	font-size: 1em;
	color:#444;
}